<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hélèna Lescanne - Chef de projet Web et Multimédia</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>

    <header id="site-header">
      <div class="row">
        <div class="fullsize">
          <h1><a href="/"><span>Hélèna</span> <span>Lescanne</span></a></h1>
          <h2>Chef de projet web et multimédia</h2>
        </div>
      </div>
    </header>

    <section id="teaser">
      <div class="row">
        <div class="fullsize">
          <h2>Bonjour,</h2>
          <p>Je m’appelle Hélèna Lescanne, je suis chef de projet Web, et je suis passionné par ce que je fais. Travaillant en agence et en indépendant je réalise sites internet, e-commerce, modules, et application mobile (Android, et iOS). Mes outils de prédilections sont Drupal, Wordpress, Symfony et Node.js.
            J’étudie toutes missions pour mettre en œuvre mes compétences en tant que prestataire.</p>
        </div>
      </div>
    </section>

    <section id="subjects">
      <div class="row">
        <article>
          <i class="icon-subject-conception"></i>
          <h3>Conception</h3>
          <p>Nullam scelerisque erat lectus, id tempus nunc. Aenean luctus rhoncus enim. Quisque in odio a mauris sodales mattis ut ut neque. Nullam scelerisque erat lectus, id tempus nunc. Aenean luctus rhoncus enim. Quisque in odio a mauris sodales mattis ut ut neque.</p>
        </article>
        <article>
          <i class="icon-subject-production"></i>
          <h3>Production</h3>
          <p>Morbi tincidunt condimentum lacus, et volutpat sem sollicitudin eget. Sed ut odio ut massa placerat auctor. Morbi at risus eu mi mollis sagittis. Morbi tincidunt condimentum lacus, et volutpat sem sollicitudin eget. Sed ut odio ut massa placerat auctor. Morbi at risus eu mi mollis sagittis.</p>
        </article>
        <article>
          <i class="icon-subject-ending"></i>
          <h3>Finalisation</h3>
          <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor,.</p>
        </article>
      </div>
    </section>

    <section id="experiences">
      <div class="row">
        <h2>Éxpériences</h2>

        <article class="experience">
          <div class="experience-title">
            <h3>WSB Agency</h3>
          </div>
          <div class="experience-content">
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor,.</p>
          </div>
        </article>

        <article class="experience">
          <div class="experience-title">
            <h3>V4X</h3>
          </div>
          <div class="experience-content">
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor,.</p>
          </div>
        </article>

        <article class="experience">
          <div class="experience-title">
            <h3>TEC</h3>
          </div>
          <div class="experience-content">
            <p>Anglais courant (6 années d’expatriation à Londres , longs séjours aux Etats Unis et Canada)
              Espagnol: niveau scolaire
              Français: langue maternelle</p>
          </div>
        </article>

        <article class="experience">
          <div class="experience-title">
            <h3>Emplois saisonniers</h3>
          </div>
          <div class="experience-content">
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor,.</p>
          </div>
        </article>
      </div>
    </section>

    <section id="highlight">
      <div class="row">
        <div class="fullsize">
          <p>« En travaillant ensemble et réunissant nos richesses nous pouvons accomplir de grandes choses »</p>
          <cite>- Ronald Reagan -</cite>
        </div>
      </div>
    </section>

    <section id="skills">
      <div class="row">
        <h2>Compétences</h2>

        <article class="skill">
          <i class="icon-gantt"></i>
          <h3>Gestion de projet</h3>
          <p>Psie de rbief, rédaction des spécifications techniques et fonctionnelles, gestion et suivi client, conception, arborscence, zooning/wireframes, principe ergonomiques, formation utilisateurs, gestion planning, analyse statistiques</p>
          <p>Axure Pro, Balsamc mokup, MS project, Freeming, Suite Office, Outils Google<br/>
            Opquast référentielle d’accessibilité et de Qualité</p>
        </article>
        <article class="skill">
          <i class="icon-swissknife"></i>
          <h3>Web et multimédia</h3>
          <p>Retouches graphiques: Photoshop, Indesign Illustrator (notions de base)<br/>
            HTML, CSS (connaissances)<br/>
            Ergonomie, UX Design</p>
          <p>Photoshop, Illustrator, Indesign<br/>
            Spip, Wordpress, Dupal, Prestashop, Django Framework</p>
        </article>
        <article class="skill">
          <i class="icon-message"></i>
          <h3>Langues</h3>
          <p>Anglais courant (6 années d’expatriation à Londres , longs séjours aux Etats Unis et Canada)</p>
          <p>Espagnol: niveau scolaire<br/>
            Français: langue maternelle</p>
        </article>
      </div>
    </section>

    <section id="education">
      <div class="row">
        <h2>Formation</h2>

        <article class="education">
          <div class="education-title">
            <h3>2011-2013</h3>
          </div>
          <div class="education-content">
            <h3>Master Conception Production Audiovisuel et Multimédia</h3>
            <h4>Université Michel de Montaigne de Bordeaux 3</h4>
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. </p>
          </div>
        </article>

        <article class="education">
          <div class="education-title">
            <h3>2010-2011</h3>
          </div>
          <div class="education-content">
            <h3>Licence 1 Histoire de l’art et de l’architecture option Arts Plastiques</h3>
            <h4>Université Michel de Montaigne de Bordeaux 3</h4>
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bib</p>
          </div>
        </article>

        <article class="education">
          <div class="education-title">
            <h3>2009-2010</h3>
          </div>
          <div class="education-content">
            <h3>Licence Professionnelle de Création Multimédia</h3>
            <h4>Université de La Rochelle</h4>
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bib</p>
          </div>
        </article>

        <article class="education">
          <div class="education-title">
            <h3>2006-2009</h3>
          </div>
          <div class="education-content">
            <h3>DUT Informatique</h3>
            <h4>Université de Bordeaux 1</h4>
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bib</p>
          </div>
        </article>

        <article class="education">
          <div class="education-title">
            <h3>2006</h3>
          </div>
          <div class="education-content">
            <h3>Baccalauréat Scientifiques option mathématiques</h3>
            <h4>Université de Bordeaux 1</h4>
            <p>Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bibendum, enim nibh pulvinar tortor, ut cursus odio magna a nibh. Integer fringilla erat vel odio vestibulum laoreet. Vivamus pretium, turpis id dignissim bib</p>
          </div>
        </article>
      </div>
    </section>

    <section id="contact" ng-app="divonaContactApp">
      <div class="row" ng-controller="ContactCtrl">
        <h2>Contact</h2>
        <form name="contactForm" ng-show="mandrillStatus && sendStatus !== SEND_FAIL">
          <div class="row">
            <div class="halfsize">
              <label for="contact-name">Prénom nom</label>
              <input type="text" name="name" ng-model="message.from_name" required id="contact-name" />
            </div>
            <div class="halfsize">
              <label for="contact-email">Email</label>
              <input type="email" name="email" ng-model="message.from_email" required id="contact-email" />
              <small class="error" ng-show="contactForm.email.$error.email">Veuillez saisir une adresse email valide.</small>
            </div>
          </div>
          <div class="row">
            <div class="fullsize">
              <label for="contact-text">Message</label>
              <textarea name="text" ng-model="message.text" required id="contact-text"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="fullsize">
              <button type="submit" class="button" ng-show="contactForm.$valid && sendStatus !== SEND_PENDING" ng-click="send()">Envoyer</button>
              <span class="button-disabled" ng-show="contactForm.$valid && sendStatus === SEND_PENDING">Message en cours d'envoi</span>
              <span class="button-disabled" ng-hide="contactForm.$valid">Veuillez saisir tous les champs pour envoyer le message</span>
            </div>
          </div>
        </form>
        <p class="success-message" ng-show="sendStatus === SEND_OK">Merci votre message a été envoyé, j'essayerai de vous répondre au plus vite.</p>
        <p class="error-message" ng-show="mandrillStatus === false || sendStatus === SEND_FAIL">Un problème avec le serveur d'email est survenu, pour me contacter veuillez utiliser l'adresse <a href="mailto:h.lescanne@gmail.com">h.lescanne@gmail.com</a></p>
      </div>
    </section>

    <footer id="site-footer">
      <div class="row">
        <ul class="no-bullet">
          <li>Hélèna Lescanne</li>
          <li>téléphone : +33 6 99 13 53 13</li>
          <li>email : h.lescanne@gmail.com</li>
          <li class="small">Icons from the Noun Project, Creative Commons – Attribution (CC BY 3.0). Gears designed by Cris Dobbins, checklist designed by Rafael Farias Leão, drafting compass designed by Scott Lewis, swiss army knife designed by Jeff Gerlach, gantt chart designed by Jeremy Boatman</li>
        </ul>
      </div>
    </footer>

    <!--[if lt IE 9]><script src="bower_components/REM-unit-polyfill/js/rem.min.js"></script><![endif]-->

    <script src="js/vendors.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
